@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;

  color: #000;
  font-family: "Share Tech", sans-serif;

  text-decoration: none;
}
body {
  height: 100vh;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #3781db;
}

.container {
  width: 60%;
  height: 70vh;

  display: flex;

  border-radius: 20px;
  box-shadow: -10px 10px 10px #0000006b;

  background-color: #ffffff;
}

.blocks {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-principal {
  height: 70%;
  width: auto;

  border-radius: 20px 0 0 20px;
}

.div-return {
  width: 100%;
  height: 15%;

  border-radius: 0 20px 0 0;

  display: flex;
  align-items: center;
  justify-content: end;
}

.circle {
  width: 2em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  margin-right: 5%;

  background-color: #3781db;

  transition: 1s;
}

.circle:hover {
  width: 5em;

  border-radius: 10px;
}

.div-content {
  width: 100%;
  height: 60vh;

  border-radius: 0 0 20px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 5px;

  text-align: center;
}

input {
  width: 240px;
  height: 40px;

  outline: none;
  border-radius: 10px;
  border: 3px solid #3781db;

  padding-left: 40px;

  margin-top: 15px;

  background-position: 5%;
  background-repeat: no-repeat;
}

.email {
  background-image: url(../IMG/letter.png);
}

.password {
  background-image: url(../IMG/pass.png);
  margin-bottom: 0;
}
.forget {
  width: 280px;

  margin-top: 10px;

  text-align: end;

  color: #3781db;
}

button {
  width: 280px;
  height: 45px;

  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 25px;
  font-family: "Share Tech", sans-serif;
  margin: 10px 0 10px 0;
  cursor: pointer;

  background-color: #3781db;
}
span {
  color: #3781db;
}

.div-return a {
  margin-right: 10%;
}
.div-content a {
  display: flex;
  justify-content: end;
}
#div_erro {
  font-size: 15px;
  padding-top: 5px;
}

#div_erro2 {
  padding-top: 5px;
  font-size: 15px;
}
